<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>crucipixel</title>
	<link href="../logika.css" rel="stylesheet" type="text/css">


</head>

<body ng-controller="JSCrucipixel">
		<a href="../index.html">HOME</a>
		<div ng-show="fase=='I'">
			<label style="font-size: 20px;font-weight: bold;">Inizia</label>
			<table>
				<tr><td>nome</td><td><input type=text ng-model="nome"></input></td></tr>
				<tr><td>righe</td><td><input type=number ng-model="righe"></input></td></tr>
				<tr><td>colonne</td><td><input type=number ng-model="colonne"></input></td></tr>
			</table>
			<input type=button ng-click="progetta()" value="PROGETTA"></input>
			<br><br>
			<div>
			  <select ng-model="crucipixelSelezionata" ng-change="carica(crucipixelSalvate[crucipixelSelezionata.prog])" 
			  ng-options="'(' + opzione.id + ') ' + opzione.nome for opzione in crucipixelSalvate track by opzione.id">
			    <option value="">Carica un gioco</option>
			  </select>
				<br><br>
				  <div ng-show="crucipixelSalvate[crucipixelSelezionata.prog]">
		    	      <input type=button ng-click="carica(crucipixelSalvate[crucipixelSelezionata.prog])" value="CARICA"></input>
				</div>
			</div>

			<img src="./crucipixel.png"></img>
		</div>
		<span ng-show="fase=='P' || fase=='G'">
			<label style="font-size: 20px;font-weight: bold;" ng-show="fase=='P'">Inserisci le righe/colonne</label>
			<label style="font-size: 20px;font-weight: bold;" ng-show="fase=='G'">Gioca</label>
			<br>
			<input type=button ng-click="ricomincia()" value="RICOMINCIA"></input>
   	        &nbsp;&nbsp;
			<input ng-show="fase=='P' && !id" type=button ng-click="inserisci()" value="INSERISCI"></input>
   	        &nbsp;&nbsp;
			<input ng-show="id" type=button ng-click="aggiorna()" value="AGGIORNA"></input>
   	        &nbsp;&nbsp;
   	        <input ng-show="fase=='P' && id" type=button ng-click="cancella(id)" value="CANCELLA"></input>
   	        &nbsp;&nbsp;
			<table>
				<tr><td>nome ({{id}})</td><td><input type=text ng-model="nome"></input></td></tr>
				<tr ng-show="fase=='P'"><td>modalità</td><td><input type=button ng-model="modProgetta" ng-click="modProgetta=!modProgetta"></input></td></tr>
			</table>
			<!-- RIPETERE INIZIO -->
			<div ng-show="fase=='G'" >
				<table style=" user-select: none;" >
					<tr>
						<td style="width: 200px; font-size:20px;text-align:left">
						Seleziona la mossa
						</td> 
						<td ng-click="impostaValoreMossa(index)"
							ng-repeat="index in getRange(4)"  
							ng-style="{'border':'1px solid black', 'width': '60px', 'height': '60px', 'text-align': 'center', 
							'vertical-align': 'middle',
							'background-color': getColori(index), 'colorX':getColori(mossa)}">
						</td>
						</tr>
						<tr>
						<td style="width: 200px; font-size:20px;text-align:left">
						Comandi
						</td> 
						<td ng-click="undo()" 
							ng-style="{'border':'3px solid black', 'width': '60px', 'height': '60px', 'text-align': 'center', 
							'vertical-align': 'middle',
							'background-color': getCoxlori(mossa), 'colorX':getColori(mossa)}">
						UNDO ({{historyBoard.length}})
						</td>
						<td ng-click="verificami()" 
							ng-style="{'border':'3px solid black', 'width': '60px', 'height': '60px', 'text-align': 'center', 
							'vertical-align': 'middle',
							'background-color': getCoxlori(mossa), 'colorX':getColori(mossa)}">
						VERIFICA ({{verifica}})
						</td>
						<td ng-click="allLine()" 
							ng-style="{'border':'3px solid black', 'width': '60px', 'height': '60px', 'text-align': 'center', 
							'vertical-align': 'middle',
							'background-color': getCoxlori(mossa), 'colorX':getColori(mossa)}">
						{{testoAllLinea()}}
						</td>
						<td ng-click="impostaTestoMossa()" 
							ng-style="{'border':'3px solid black', 'width': '60px', 'height': '60px', 'text-align': 'center', 
							'vertical-align': 'middle',
							'background-color': getColori(mossa), 'color':geXtColori(mossa)}">{{testoMossa}}
						</td>
					</tr>
				</table>			
			</div>
			<!-- RIPETERE FINE -->
			<br><br>
			<div >
					<table class="boardIndicazioni">
						<tr>
						  <td ng-click="cliccaCella('IND', 0,colonne)" 
						  ng-mouseenter="evidCell(-1,colonne, true)"  ng-mouseleave="evidCell(-1,colonne, false)"
						  ng-style="{'background-color': getColorIntestazioneBoard(colonne), 'height':'30px','width': getCellaWidth(colonne)}" 
						  ng-repeat="colonne in getRange(colonne+1)" ng-bind-html="getIntestazioneBoard(colonne)"></td>
						</tr>
					</table>
					<table class="board">
						<tr ng-repeat="righe in getRange(righe)">
							  <td ng-click="cliccaCella('BOARD',righe,colonne)" 
							  ng-mouseenter="evidCell(righe,colonne, true)"  ng-mouseleave="evidCell(righe,colonne, false)"
							  	ng-style="{'background-color': getBgColor(righe,colonne), 'width': getCellaWidth(colonne),
							  	'height':'20px', 'vertical-align': 'middle' }"  
							  	ng-repeat="colonne in getRange(colonne+2)" ng-bind-html="getCellaBoard(righe,colonne)">
							  </td>
							  <td NOWRAP ng-show="fase=='P' && modProgetta">
							  	<input style="width: 100px" type=text ng-keypress="$event.keyCode === 13 && okValCosaScrivoRiga(righe)"
							  	ng-model="valDatiRigaBoard[righe]">
								<input ng-attr-tabindex="{{20000 + righe}}" type=button ng-click="okValCosaScrivoRiga(righe)" value="OK"></input>
							  </td>
						</tr>
					</table>
					<table class="boardIndicazioni">
						<tr>
						  <td ng-click="cliccaCella('IND', 0,colonne)" 
						  ng-mouseenter="evidCell(-1,colonne, true)"  ng-mouseleave="evidCell(-1,colonne, false)"
						  ng-style="{'background-color': getColorIntestazioneBoard(colonne), 'height':'30px','width': getCellaWidth(colonne)}" 
						  ng-repeat="colonne in getRange(colonne+1)" ng-bind-html="getIntestazioneBoard(colonne)"></td>
						  <tr  ng-show="fase=='P'  && modProgetta">
						  	  <td style="width: 100px"></td>
							  <td style="width: 50px" ng-repeat="colonne in getRange(colonne)">
								  	<input style="width: 30px" type=text ng-keypress="$event.keyCode === 13 && okValCosaScrivoColonna(colonne)" 
								  	ng-model="valDatiColonnaBoard[colonne]">
								  	<br>
									<input ng-attr-tabindex="{{10000 + colonne}}" type=button ng-click="okValCosaScrivoColonna(colonne)" value="OK"></input>
							  </td>
						  	  <td style="width: 100px"></td>
						  </tr>
						</tr>
					</table>
			</div>
			<br><br>
			<!-- RIPETERE INIZIO -->
			<div ng-show="fase=='G'" >
				<table style=" user-select: none;" >
					<tr>
						<td style="width: 200px; font-size:20px;text-align:left">
						Seleziona la mossa
						</td> 
						<td ng-click="impostaValoreMossa(index)"
							ng-repeat="index in getRange(4)"  
							ng-style="{'border':'1px solid black', 'width': '60px', 'height': '60px', 'text-align': 'center', 
							'vertical-align': 'middle',
							'background-color': getColori(index), 'colorX':getColori(mossa)}">
						</td>
						</tr>
						<tr>
						<td style="width: 200px; font-size:20px;text-align:left">
						Comandi
						</td> 
						<td ng-click="undo()" 
							ng-style="{'border':'3px solid black', 'width': '60px', 'height': '60px', 'text-align': 'center', 
							'vertical-align': 'middle',
							'background-color': getCoxlori(mossa), 'colorX':getColori(mossa)}">
						UNDO ({{historyBoard.length}})
						</td>
						<td ng-click="verificami()" 
							ng-style="{'border':'3px solid black', 'width': '60px', 'height': '60px', 'text-align': 'center', 
							'vertical-align': 'middle',
							'background-color': getCoxlori(mossa), 'colorX':getColori(mossa)}">
						VERIFICA ({{verifica}})
						</td>
						<td ng-click="allLine()" 
							ng-style="{'border':'3px solid black', 'width': '60px', 'height': '60px', 'text-align': 'center', 
							'vertical-align': 'middle',
							'background-color': getCoxlori(mossa), 'colorX':getColori(mossa)}">
						{{testoAllLinea()}}
						</td>
						<td ng-click="impostaTestoMossa()" 
							ng-style="{'border':'3px solid black', 'width': '60px', 'height': '60px', 'text-align': 'center', 
							'vertical-align': 'middle',
							'background-color': getColori(mossa), 'color':geXtColori(mossa)}">{{testoMossa}}
						</td>
					</tr>
				</table>			
			</div>
			<!-- RIPETERE FINE -->
			<br><br>
			<div ng-show="fase=='P'">			
				<table  style=" user-select: none;text-align:center; border-collapse: collapse;" >
					<tr>
						<td style="border:1px solid black; height: 30px;" ng-repeat="caratteri in getRange(cosaScrivo.length)" ng-click="plusCharCosaScrivo(caratteri)">+</td>
					</tr>
					<tr>
						  <td ng-repeat="caratteri in getRange(cosaScrivo.length+1)" ng-click="pushCharCosaScrivo()" 
						  ng-style="{'border':'1px solid black', 'width': '100px', 'height': '30px', 'text-align': 'center', 
						  'margin-right': '10px','vertical-align': 'middle' }">
						  {{charCosaScrivo(caratteri)}}
						  </td>
					</tr>
					<tr>
						<td style="border:1px solid black; height: 30px;" ng-repeat="caratteri in getRange(cosaScrivo.length)" ng-click="minusCharCosaScrivo(caratteri)">-</td>
					</tr>
				</table>
				<br><br>
				<input type=text ng-model="valCosaScrivo"></input>
				<input type=button ng-click="okValCosaScrivo()" value="VAI"></input>
				<br><br>
				<label ng-show="fase=='P'">Componi la combinazione e poi clicca sull'intestazione di riga o colonna. <br>
				Se la singola occorrenza arriva a 0 viene rimossa. <br>
				Per aggiungere una singola occorrenza cliccare sul +</label>
			</div>
			<input type=button ng-click="ricomincia()" value="RICOMINCIA"></input>
   	        &nbsp;&nbsp;
			<input ng-show="fase=='P' && !id" type=button ng-click="inserisci()" value="INSERISCI"></input>
   	        &nbsp;&nbsp;
			<input ng-show="id" type=button ng-click="aggiorna()" value="AGGIORNA"></input>
   	        &nbsp;&nbsp;
   	        <input ng-show="fase=='P' && id" type=button ng-click="cancella(id)" value="CANCELLA"></input>
   	        &nbsp;&nbsp;
		</div>
	<br>
	<!--
	<textarea rows=10 cols=80>{{board}}</textarea><br>
	<textarea rows=10 cols=80>{{testoBoard}}</textarea><br>
	<textarea rows=10 cols=80>{{datiColonnaBoard}}</textarea><br>
	<textarea rows=10 cols=80>{{datiRigaBoard}}</textarea><br>
	r:{{righe}}
	c:{{colonne}}
	-->
	
    <script src="https://code.angularjs.org/1.8.2/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.8.2/angular-sanitize.min.js"></script>
    <script src="../app.js"></script>
</body>
</html>
