<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>stelle</title>
	<link href="../logika.css" rel="stylesheet" type="text/css">
</head>
<body ng-controller="JSStelle">
		<a href="../index.html">HOME</a>
		<div ng-show="fase=='I'">
			<label style="font-size: 20px;font-weight: bold;">Inizia</label>
			<table>
				<tr><td>colonne</td><td><input type=number ng-model="colonne"></input></td></tr>
				<tr><td>righe</td><td><input type=number ng-model="righe"></input></td></tr>
				<tr><td>zone colori</td><td><input type=number ng-model="zoneColore"></input></td></tr>
				<tr><td>stelle</td><td><input type=number ng-model="stellePerZona"></input></td></tr>
				<tr><td>nome</td><td><input type=text ng-model="nome"></input></td></tr>
			</table>
			<input type=button ng-click="progetta()" value="PROGETTA"></input>
			<br><br>
			<div>
			  <select ng-model="stelleSelezionata" ng-change="carica(stelleSalvate[stelleSelezionata.prog])" 
			  ng-options="'(' + opzione.id + ') ' + opzione.nome for opzione in stelleSalvate track by opzione.id">
			    <option value="">Carica un gioco</option>
			  </select>
			  <!--
				<br><br>
				  <div ng-show="stelleSalvate[stelleSelezionata.prog]">
		    	      <input type=button ng-click="carica(stelleSalvate[stelleSelezionata.prog])" value="CARICA"></input>
		    	      <input type=button ng-click="cancella(stelleSalvate[stelleSelezionata.prog].id)" value="CANCELLA"></input>
				</div>
				-->
			</div>

			<img src="./stelle.png"></img>

		</div>
		<div ng-show="fase=='P' || fase=='G'">
			<label style="font-size: 20px;font-weight: bold;" ng-show="fase=='P'">Inserisci le zone colorate</label>
			<label style="font-size: 20px;font-weight: bold;" ng-show="fase=='G'">Gioca</label>
			<br>
			<input type=button ng-click="ricomincia()" value="RICOMINCIA"></input>
   	        &nbsp;&nbsp;
			<input ng-show="fase=='P' && !id" type=button ng-click="inserisci()" value="INSERISCI"></input>
   	        &nbsp;&nbsp;
			<input ng-show="id" type=button ng-click="aggiorna()" value="AGGIORNA"></input>
   	        &nbsp;&nbsp;
   	        <input ng-show="fase=='P' && id" type=button ng-click="cancella(id)" value="CANCELLA"></input>
   	        &nbsp;&nbsp;
			<table>
				<tr ng-show="fase=='P'"><td>zone colori</td><td><input type=number ng-model="zoneColore"></input></td></tr>
				<tr><td>stelle</td><td><input type=number ng-model="stellePerZona"></input></td></tr>
				<tr><td>nome ({{id}})</td><td><input type=text ng-model="nome"></input></td></tr>
				<tr><td>data aggiornamento</td><td><label>{{dataOra}}</label></td></tr>
			</table>
			<table border style=" user-select: none;" >
				<tr ng-repeat="righe in getRange(board.length)">
					  <td ng-click="clickCella(righe,colonne)" ng-style="{'background-color':coloraSfondo(righe,colonne),
					  'color':coloraFontCella(righe,colonne), 'width': '30px', 'height': '30px', 'font-size': sizeFont(),
					   'text-align': 'center', 'vertical-align': 'middle' }" 
					  ng-repeat="colonne in getRange(board[righe].length)">{{scriviCella(righe,colonne)}}</td>
				</tr>
			</table>
			<br>
			<div>			
				<table border style=" user-select: none;" >
					<tr>
						  <td ng-click="impostaValoreCella()" ng-style="{'background-color':coloraCella(colora),
						  'color':coloraFontCella(), 'width': '30px', 'height': '30px', 'font-size': sizeFont(),
	                      'text-align': 'center', 'vertical-align': 'middle' }">{{getValColora()}}</td>
					</tr>
				</table>
				<label ng-show="fase=='P'">Scegli il colore da inserire e poi clicca sulla tabella.</label>
				<label ng-show="fase=='G'">Scegli il valore da inserire e poi clicca sulla tabella. 
				Se la cella contiene un valore dubbio questo verrà aggiunto, altrimenti rimosso solo se non è l'unico.</label>
			</div>
			<input type=button ng-click="ricomincia()" value="RICOMINCIA"></input>
   	        &nbsp;&nbsp;
			<input ng-show="fase=='P' && !id" type=button ng-click="inserisci()" value="INSERISCI"></input>
   	        &nbsp;&nbsp;
			<input ng-show="id" type=button ng-click="aggiorna()" value="AGGIORNA"></input>
   	        &nbsp;&nbsp;
   	        <input ng-show="fase=='P' && id" type=button ng-click="cancella(id)" value="CANCELLA"></input>
   	        &nbsp;&nbsp;
		</div>
    <script src="https://code.angularjs.org/1.8.2/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.8.2/angular-sanitize.min.js"></script>
    <script src="../app.js"></script>
</body>
</html>
